@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    background-color: #052635;
    font-family: 'Quicksand', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1020px;  
    width: 98%;
}

.textarea {
    margin-top: 15%;
    height: 150px;
    width: 99%;
    border-radius: 10px;
    background-color: #b4c4cc;
    font-family: 'Quicksand', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

}

.keyboard {
    max-width: 1020px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.key {
    width: 100px;
    height: 40px;
    align-items: center;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    background-color: #42687a;
    margin: 0.2%;
    border-radius: 3px;
}

.space {
    width: 800px ;
}

span {
    display: block;
    margin-top: 9px;
}

.modal {
    width: 200px;
}

.key:hover {
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}

.active {
    background-color: #052635;
    border-color: #fff;
    color: #fff;
}