@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    background-color: #052635;
}
body {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1020px;  
    width: 98%;
}

.textarea {
    height: 150px;
    width: 96%;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    background-color: #052635;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.keyboard {
    max-width: 1020px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
}

.key {
    color: rgb(122, 120, 148);
}

.key {
    width: 100%;
    border: 1px solid #687277;
    text-align: center;
    margin: 0.2%;
    border-radius: 3px;
}

